html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.5;
   margin: 0;
   min-height: 100%;
}

header {
  color: #888;
  margin: 1rem auto;
  max-width: 95%;
}

header h1 {
  border: 2px dotted #df0451;
  background-color: #df0451;
  color: white;
  border-radius: 18px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2em;
}

.container {
  margin: 0 auto;
}

#content {
  border: 1px ridge darkgrey;
  padding: 18px;
  margin-left: 240px;
  color: #444;
  font-weight: normal;
}

#content h1,
h2,
h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dadada;
  font-weight: normal;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
a {
  text-decoration: none;
  color:  #df0451;
}

#sidebar {
  float: left;
  width: 227px;
  color: #ffbdbd;
  will-change: min-height;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
}

#sidebar .sidebar__inner {
  border: 1px ridge darkgrey;
  padding: 10px;
  position: relative;
  will-change: position, transform;
}

footer {
  margin-top: 4rem;
  text-align: center;
  color: #8e8d8d;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.02);
  padding: 1rem;
}

footer img{
  height: 25px;
  width: 25px;
}
footer p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  line-height: 1.25;
  word-wrap: break-word;
  padding-top: 0.5rem;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #af0440;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  color: #ee2f72;
}

li.active a {
  font-weight: bold;
  color: #333;
}

#h1 {
  text-align: center;
  color: #333;
  word-wrap: break-word;
  font-size: 1.5rem;
}

button {
    font-size: 1.25rem;
    border: 1px solid #333;
    text-align: center;
    color: #1e1e1e;
    background: #ddd;
    word-wrap: break-word;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
button a{
  text-decoration: none;
}
button a.active{
  font-weight: bold;
  color: #333;
}
button:hover {
  background-color: white;
}
#menuToggle {
    display:none;
}
#menu { display:none; }
@media screen and (max-width: 760px) {
  #sidebar {
      max-height:0px;
      position:revert;
      width:100%;
      overflow:hidden;
      transition: max-height 0.4s ease;
      background: #ededed;
  }
  header h1 {
      font-size:1.5rem;
      padding: 1rem;
  }
  #menuToggle {
      color: white;
      display: block;
      float:right;
      cursor:pointer;
  }
  #menuToggle svg {
    vertical-align: middle;
      fill:white;
  }
  #content {
      margin-left:0px;
  }
  #menu:checked ~ #sidebar
  {
      max-height:2000px;
      transition: max-height 1s ease;
  }
}
